<head>
  <style>
#example1 {
  
  background: url(https://media.istockphoto.com/photos/white-piggy-bank-on-yellow-picture-id841053770?k=6&m=841053770&s=612x612&w=0&h=egxzk5SZGQfo2m2UG4n2fYMbDna7XPj07hdAYnwIG0o=);
  background-repeat: no-repeat;
  background-size: cover;
}
#results {
  background-color: #F0F0F0  
  
}


</style>
    
    
</head>
<body id="example1">
    <div class="results" id="results">
        <h1><center>Student Results</center></h1>
        <h3><center>Salary: ${{salaryS}}</center></h3>
        <h3><center>Books: ${{bookS}}</center></h3>
        <h3><center>Housing: ${{housingS}}</center></h3>
        <h3><center>Emergeney: ${{emergencyS}}</center></h3>
         <h3><center>Transport: ${{transportS}}</center></h3>
        <h1><center>Money left(or for Personal Expense): ${{moneyLeftS}}</center></h1>
    </div>
   

</body> 