<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Budget Helper</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="/static/device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->
  <link href="/static/css/new-age.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Budgeting</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#download">Start Today</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">Welcome to Budget Helper, Start Budgeting Today.</h1>
            <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Lets Get Started</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="">
              <div class="device">
                <div class="screen">
                  <!--image money -->
                  <img src="http://123getgoing.info/ro123/money.png" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="download bg-primary text-center" id="download">
    <div class="container">
      <div class="row">
        <div class  ="col-md-8 mx-auto">
        
          <h2 class="section-heading">Get Started</h2>
          <form method="POST" action="/results">
            <br>
            <h3>Adult Budgeting.</h3><br>
            Salary: <br>
            <input type="text" name="salary" placeholder="Yearly pay"/><br>
            Housing: <br>
            <input type="text" name="housing" placeholder="Monthly housing cost"/><br>
            Medical:<br>
            <input type="text" name="medical" placeholder="Monthly medical insurance pay"/><br>
            Car Payment:<br>
            <input type="text" name="car" placeholder="Monthly car payment"/><br>
            State Tax %: <br>
            <input type="text" name="stateTax" placeholder="Enter your state tax %"/><br>
            <input type="submit" value="Submit"/><br>
          </form>
          <form method="POST" action="/student">
            <br>
            <br>
            <h3>Student Budgeting.</h3><br>
            Money You have: <br>
            <input type="text" name="salaryS" placeholder="Money you have"/><br>
            Housing: <br>
            <input type="text" name="housingS" placeholder="Monthly housing cost"/><br>
            Books:<br>
            <input type="text" name="bookS" placeholder="Cost of books"/><br>
            Transportation Costs:<br>
            <input type="text" name="transportS" placeholder="Transportation costs"/><br>
            Emergency: <br>
            <input type="text" name="emergencyS" placeholder="Money set aside for emergencies"/><br>
            <input type="submit" value="Submit"/><br>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>Unlimited Features, Unlimited Fun</h2>
        <p class="text-muted">Check out what you can do with this app theme!</p>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-4 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="http://pngimg.com/uploads/money/money_PNG3547.png" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <img src="https://image.flaticon.com/icons/png/512/54/54718.png" width"200" height="200"></img>
                  <h3>Expansion</h3>
                  <p class="text-muted">Soon to be launch on mobile devices!</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyfa-Qto-b3L1eONpXtee5sa413NoFAtqTGbkJyptnYpskaIua" width="200" height="200"></img>
                  <h3>Helpful</h3>
                  <p class="text-muted">Helps you budget and save money.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="feature-item">
                  <img src="http://cdn.onlinewebfonts.com/svg/download_574104.png" width="200" height="200"></img>
                  <h3>Free to Use</h3>
                  <p class="text-muted">Free to sign up and start budgeting today!</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="feature-item">
                  <img src="https://ui-ex.com/images/vector-lock-logo.png" width="200" height="200"></img>
                  <h3>Closed Source</h3>
                  <p class="text-muted">All information is kept confidential.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta">
    <div class="cta-content">
      <div class="container">
        <h2>Stop waiting.<br>Start Saving.</h2>
       <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>

  <section class="contact bg-primary" id="contact">
    <div class="container">
      <h2>We
        <i class="fas fa-heart"></i>
        saving money!</h2>
      <ul class="list-inline list-social">
        <li class="list-inline-item social-twitter">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item social-facebook">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-inline-item social-google-plus">
          <a href="#">
            <i class="fab fa-google-plus-g"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>&copy; Your Website 2019. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/new-age.min.js"></script>

</body>

</html>